{% extends 'traces/base.html' %}
    {% block content %}
    {% if traces %}	
	<section id="colophon" class="clearfix">	
	    <h2>Your road traces</h2>
            {% for t in traces %}
                {% with t.center as c %}
		<figure class="item">
		    <a href="{% url trace-object t.uuid %}">		    
		    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ c }}&path={{ t.points }}&zoom=13&size=300x300&sensor=false" alt="{{ t }}"/>
                    </a>
                    <figcaption>
			{{ t }}		    
		    </figcaption>		    
		</figure>
                {% endwith %}		
            {% endfor %}
	</section>
    {% endif %}	    
    {% endblock %}	    

    {% block extra_script %}
	<script src="{{ STATIC_URL }}js/underscore-1.3.1.js"></script>
	<script src="{{ STATIC_URL }}js/backbone.js"></script>
	<script src="{{ STATIC_URL }}js/gmaps.js"></script>    
	<script type="text/javascript">
	    $(function(){
	        window.gmaps = new window.GMapsApp({
	            center: {{ center|safe }},
                });
	    });
	</script>
    {% endblock %}
    
</body>

</html>
