{% extends 'traces/index.html' %}
{% load commontags %}

{% block title %}Bike-Trace Recording {% endblock %}
{% block h1 %}Keep moving, we're recording your GPS trace. {% endblock %}

{% block extra_script %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/backbone-localstorage.js"></script>
<script src="{{ STATIC_URL }}js/jquery.periodic.js"></script>
<script src="{{ STATIC_URL }}js/moment.min.js"></script>
<script src="{{ STATIC_URL }}js/traces.js"></script>
<script type="text/javascript">
    $(function(){
	  var trace_app = new window.TraceApp({
                  uuid: '{{ trace.uuid }}',
                  fire_start: {{ fire_start|yesno:"true,false" }},
                  points: {{ points|safe }},
              });
      });
</script>

{% endblock %}
