<figure id="grid">
    <div class="col col1"></div>
    <div class="col col2"></div>
    <div class="col col3"></div>
    <div class="col col4"></div>
    <div class="col col5"></div>
    <div class="col col6"></div>
    <div class="col col7"></div>
    <div class="col col8"></div>
    <div class="col col9"></div>
    <div class="col col10"></div>
    <div class="col col11"></div>
    <div class="col col12"></div>
    <div class="col col13"></div>
    <div class="col col14"></div>
    <div class="col col15"></div>
    <div class="col col16"></div>
    <div class="col col17"></div>
    <div class="col col18"></div>
    <div class="col col19"></div>
    <div class="col col20"></div>
    <div class="col col21"></div>
    <div class="col col22"></div>
    <div class="col col23"></div>
    <div class="col col24"></div>
    <div class="col col25"></div>
    <div class="col col26"></div>
    <div class="col col27"></div>
    <div class="col col28"></div>
    <div class="col col29"></div>
    <div class="col col30"></div>
    <div class="col col31"></div>
    <div class="col col32"></div>
    <div class="col col33"></div>
    <div class="col col34"></div>
    <div class="col col35"></div>
    <div class="col col36"></div>
</figure>
