<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
	
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		
		<title>{% block title %}{% endblock %} ~ Real-time bicycle positioning & tracking system ~ UrbanBike</title>
			
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% if TEMPLATE_DEBUG %}
		    <link rel="stylesheet/less" href="{{ STATIC_URL }}frameless/main.less" type="text/css" />
		{% else %}
		    <link rel="stylesheet" href="{{ STATIC_URL }}frameless/main.css">
		{% endif %}		

		<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}icon.png"/>
		
		<meta name="description" content="Real-time bicycle positioning & tracking system. Want to know who is currently riding a bicycle? Looking for friends nearby? Put yourself on map."/>
		{% block extra_head %}{% endblock %}
	</head>
	
    <body lang="en">
	<header id="masthead">
	    <h1><a href="/" title="Home">UrbanBike</a></h1>
	    <p>Real-time bicycle positioning & tracking system.</p>
	    <nav id="nav">
		<ul>
		    {% if user.is_authenticated %}
		    <li>
			<a id="do-checkin" href="{% url checkin %}">
			    <div class="icon">
				<img src="{{ STATIC_URL }}img/Location.png" style="bachground:white;"/>
			    </div>
			    <span>Locate</span>
			</a>
		    </li>
		    {% else %}
		    <li>
			<a href="{% url facebook-login %}" title="Login via Facebook">
			    <div class="icon">
				f
			    </div>
			    <span>Login</span>
			</a>
		    </li>
		    {% endif %}
		    <li>
			<a href="#tweets" title="Biking Tweets in this area">
			    <div class="icon">
				t
			    </div>
			    <span>Tweets</span>
			</a>
		    </li>
		    <li>
			<a href="#instagrs" title="Recent Instagram photos">
			    <div class="icon">
				i
			    </div>
			    <span>Instagr</span>
			</a>
		    </li>		    
		    <li>
			<a href="#faq" title="Features and FAQs">
			    <div class="icon">
				?
			    </div>
			    <span>FAQ</span>
			</a>
		    </li>
		</ul>
	    </nav>
	</header>
		
	<article>
	    
	    <header id="introduction">
		<h1>Want to know who is currently riding a bicycle? <span>Looking for friends nearby? <a href="{% if user.is_authenticated %}{% url checkin %}{% else %}{% url facebook-login %}{% endif %}">Put yourself on map</a>.</span></h1>
	    </header>
			
	    <figure>
		{% block google_map %}
		{% endblock %}
	    </figure>
			
	    <div class="container">
		{% block main_content %}
		{% endblock %}
		<section id="faq">
		    <h2>Features &amp; FAQs</h2>
		    <h3>How does it work?</h3>
		    <p>The system just determines your physical location at the given moment and puts this info <a href="#map_canvas">on map</a> and onto the <a href="#checkin_list">bike-tracking feed</a>. </p>

		    <h3>What info it leaves on the website?</h3>
		    <p>It puts your name, picture and link to Facebook profile together with current time and phisical address. Yes, you need to <a href="{% url facebook-login %}">log-in via Facebook</a> to personalize your experience.</p>

		    <h3>What does log-in via Facebook do?</h3>
		    <p>It requests only you email address and public info. We also hate spam, and your email address will be used only for associating your person in our system. We don't post any messages on your wall and don't keep any passwords.</p>
                    		    
		    <h3>What about Mobile App?</h3>		    
		    <p>This website is powered by adaptive design and it easily could be used on your mobile phone or tablet. Try resizing your browser window to see how it works.</p>
		    
		</section>
	    </div>	    
	</article>
			
	<footer id="colophon">
	    <section id="follow">
		<h1><span>Follow <a target="blank" href="http://twitter.com/urbanbikeme/">@urbanbikeme</a> on Twitter.</span> Any feedback and suggestions are welcome.</h1>
	    </section>
	    <section id="author">
		<h2>Adaptive Design</h2>
		<img src="{{ STATIC_URL }}icon.png" alt="Icon" />
		<p>
                    <a target="blank" href="http://framelessgrid.com">Frameless</a> &mdash; 
		    A non-fluid grid for adaptive web desig, made by <a target="blank" href="http://jonikorpi.com/">Joni Korpi</a> &mdash; A Finnish web designer.
		</p>
	    </section>	
	    <section id="promo">
		<h2>Also Checkout</h2>
		<img src="{{ STATIC_URL }}img/ggs.png" alt="Icon" />
		<p><a target="blank" href="http://goldengridsystem.com/">Golden Grid System</a> &mdash; 
		    A fluid-width CSS grid system for responsive web design.</p>
	    </section>	
	    <section id="copyright">
		<p>
		    <span>Fork UrbanBike on <a target="blank" href="http://github.com/urbanbiker/UrbanBike">GithHub</a></span>.
		    Powered by <a target="blank" href="https://www.djangoproject.com/">Django 1.4</a> and <a target="blank" href="http://www.mongodb.org/">MongoDB 2.0.4</a>.<br/>
		    &copy; Urban Bike 2012.
		</p>
		
	    </section>
	    
	</footer>

	<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	{% if TEMPLATE_DEBUG %}
	    <script src="{{ STATIC_URL }}js/less.js"></script>
	{% endif %}

	{% block extra_script %}{% endblock %}
  <script>
    var _gaq=[['_setAccount','{{ GA_UID }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

    </body>
	
</html>
