{% extends 'frameless.html' %}
{% load commontags %}

{% block title %}{{ city.name }}, {{ city.country.name }}{% endblock %}

{% block main_content %}
<section>
    <h2>Bike traces in {{ city.name }}, {{ city.country.name }} </h2>
    <div id="checkin_list">
	{% if not checkins %}
	    <p id="empty-message">
		Hey, it seems there's nobody here today. <a href="{% if user.is_authenticated %}{% url checkin %}{% else %}{% url facebook-login %}{% endif %}">You can be the first!</a>
	    </p>
	{% endif %}
	{% include 'includes/checkin_js_tmpl.html' %}
    </div>
</section>

<section id="tweets">
    <h2> Biking Tweets in this area </h2>
    <div id="twitter-feed" class="clearfix">
	{% include 'includes/tweeter_js_tmpl.html' %}
	{% include 'includes/loading_spin.html' %}	
    </div>
</section>

<section id="instagrs">
    <h2>The Most Recent Photos </h2>
    <p>These photos are not necessarily related to biking but they should give a real-time picture what's happening at {{ city.name }} city in a radical hipster manner. </p>    
    <div id="instagram-photos" class="clearfix">
        {% include 'includes/loading_spin.html' %}	
	<canvas id="kenburns"></canvas>
	{% include 'includes/instagram_js_tmpl.html' %}
	{% include 'includes/instagram_info_win_js_tmpl.html' %}
    </div>
    <span class="small">UrbanBike uses the <a target="blank" href="http://instagr.am/developer/">Instagram API</a> but is not endorsed or certified by <a target="blank" href="http://instagram.com/">Instagram</a>.</span>
</section>

<section id="site-map" class="clearfix">
    <h2>What's going on in the world </h2>
    <p>Visit the Most Populated Cities on Earth. </p>    
    {% for continent in continents %}    
    <div id="cities">
	<h3>{{ continent }}</h3>
	<ul>
	    {% for city in continent.cities %}	    
		<li>
		    <a href="{% url city city.country.slug city.slug %}">{{ city.name }}</a> 
		    (<i class="small">{{ city.population }}</i>)
		</li> 
	    {% endfor %}		
	</ul>
    </div>
    {% endfor %}    
</section>

{% endblock %}

{% block google_map %}
    <div id="map_canvas"></div>
    {% if user.is_authenticated %}
        <div style="display:none;margin-right:6px;" id="checkin-button">
	    <a class="button" href="{% url checkin %}" name="checkin" id="do-checkin">
                <img src="{{ STATIC_URL }}img/Location.png" />
		<span class="huge">LOCATE ME</span>
	    </a>
	</div>
    {% endif %}
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=false" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/moment.min.js"></script>
<script src="{{ STATIC_URL }}js/kenburns.js"></script>
<script src="{{ STATIC_URL }}js/twitter-text.js"></script>
<script src="{{ STATIC_URL }}js/checkins.js"></script>
<script src="{{ STATIC_URL }}js/instagram.js"></script>
<script src="http://platform.twitter.com/anywhere.js?id={{ TWITTER_CONSUMER_KEY }}&v=1" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/twitter.js"></script>
<script type="text/javascript">
    $(function(){
	  var checkins_app = new window.CheckinsApp({
		  center: {{ center|safe }},
                  checkins: {{ checkins_json|safe }},
                  geo_rss_url: 'http://urbanbike.me{% url kml %}?lat={{ center.0 }}&lng={{ center.1 }}',
                  locate_me: {{ locate_me|yesno:"true,false" }}
              });

    	  var instagram_app = new window.InstagramApp({
                    center: {{ center|safe }}
               });

    	  var twitter_app = new window.TwitterApp({
                    center: {{ center|safe }}
               });
      });
</script>

{% endblock %}
